p {
  font-size: 0.54em;
  @for $i from 1 through 5 {
    @media (min-width: 500px + 200px * $i) {
      font-size: 0.54em + 0.14em * $i;
    }
  }
}

h1 {
  font-size: 0.75em;
  @for $i from 1 through 5 {
    @media (min-width: 500px + 200px * $i) {
      font-size: 0.75em + 0.25em * $i;
    }
  }
}

nav {
  p {
    font-size: 0.374em;
    @for $i from 1 through 7 {
      @media (min-width: 450px + 150px * $i) {
        font-size: 0.374em + 0.118em * $i;
      }
    }
  }
}
@font-face {
  font-family: lato;
  src: url("fonts/lato.ttf");
}
