p {
  font-size: 0.54em; }
  @media (min-width: 700px) {
    p {
      font-size: 0.68em; } }
  @media (min-width: 900px) {
    p {
      font-size: 0.82em; } }
  @media (min-width: 1100px) {
    p {
      font-size: 0.96em; } }
  @media (min-width: 1300px) {
    p {
      font-size: 1.1em; } }
  @media (min-width: 1500px) {
    p {
      font-size: 1.24em; } }

h1 {
  font-size: 0.75em; }
  @media (min-width: 700px) {
    h1 {
      font-size: 1em; } }
  @media (min-width: 900px) {
    h1 {
      font-size: 1.25em; } }
  @media (min-width: 1100px) {
    h1 {
      font-size: 1.5em; } }
  @media (min-width: 1300px) {
    h1 {
      font-size: 1.75em; } }
  @media (min-width: 1500px) {
    h1 {
      font-size: 2em; } }

nav p {
  font-size: 0.374em; }
  @media (min-width: 600px) {
    nav p {
      font-size: 0.492em; } }
  @media (min-width: 750px) {
    nav p {
      font-size: 0.61em; } }
  @media (min-width: 900px) {
    nav p {
      font-size: 0.728em; } }
  @media (min-width: 1050px) {
    nav p {
      font-size: 0.846em; } }
  @media (min-width: 1200px) {
    nav p {
      font-size: 0.964em; } }
  @media (min-width: 1350px) {
    nav p {
      font-size: 1.082em; } }
  @media (min-width: 1500px) {
    nav p {
      font-size: 1.2em; } }

@font-face {
  font-family: lato;
  src: url("fonts/lato.ttf"); }
.container-fluid > .row {
  padding-left: 2.5em;
  padding-right: 2.5em;
  box-sizing: border-box; }
  @media (min-width: 700px) {
    .container-fluid > .row {
      padding-left: 3.1em;
      padding-right: 3.1em; } }
  @media (min-width: 900px) {
    .container-fluid > .row {
      padding-left: 3.7em;
      padding-right: 3.7em; } }
  @media (min-width: 1100px) {
    .container-fluid > .row {
      padding-left: 4.3em;
      padding-right: 4.3em; } }
  @media (min-width: 1300px) {
    .container-fluid > .row {
      padding-left: 4.9em;
      padding-right: 4.9em; } }
  @media (min-width: 1500px) {
    .container-fluid > .row {
      padding-left: 5.5em;
      padding-right: 5.5em; } }

* {
  font-family: lato !important; }

.light {
  color: #88cfdc;
  font-size: 1em; }
  @media (max-width: 750px) {
    .light {
      font-size: 0.8em; } }

.mid {
  color: #44afc2;
  font-size: 1em; }
  @media (max-width: 750px) {
    .mid {
      font-size: 0.8em; } }

.dark {
  color: #37829c;
  font-size: 1.3em; }
  @media (max-width: 750px) {
    .dark {
      font-size: 1.1em; } }

.grey {
  color: grey;
  font-size: 0.8em; }
  @media (max-width: 750px) {
    .grey {
      font-size: 0.6em; } }

/* ===============================================================
                          First row
===============================================================*/
header {
  background-color: black;
  background-image: url("images/grp/bg.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 33%;
  position: relative; }
  header img {
    padding: 1.5em 0px;
    width: 20%; }
    @media (max-width: 768px) {
      header img {
        padding: 0.8em; } }
  header nav {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 2.5em;
    transform: translateY(-50%); }
    @media (min-width: 700px) {
      header nav {
        right: 3.1em; } }
    @media (min-width: 900px) {
      header nav {
        right: 3.7em; } }
    @media (min-width: 1100px) {
      header nav {
        right: 4.3em; } }
    @media (min-width: 1300px) {
      header nav {
        right: 4.9em; } }
    @media (min-width: 1500px) {
      header nav {
        right: 5.5em; } }
    header nav p {
      color: white;
      display: inline-block;
      padding: 3px; }
      header nav p:hover {
        color: #88cfdc;
        cursor: pointer; }

/* ===============================================================
                          Second row
===============================================================*/
.container-fluid > .row:nth-child(2) {
  background-color: #37829c;
  background-image: url("images/bg.png");
  overflow: hidden;
  position: relative; }
  .container-fluid > .row:nth-child(2) img {
    position: absolute;
    width: 55%;
    top: 50%;
    right: 0%;
    transform: translateY(-50%); }
  .container-fluid > .row:nth-child(2) div {
    padding-top: 0.5em;
    padding-bottom: 0.5em; }
    @media (min-width: 700px) {
      .container-fluid > .row:nth-child(2) div {
        padding-top: 0.8em;
        padding-bottom: 0.8em; } }
    @media (min-width: 900px) {
      .container-fluid > .row:nth-child(2) div {
        padding-top: 1.1em;
        padding-bottom: 1.1em; } }
    @media (min-width: 1100px) {
      .container-fluid > .row:nth-child(2) div {
        padding-top: 1.4em;
        padding-bottom: 1.4em; } }
    @media (min-width: 1300px) {
      .container-fluid > .row:nth-child(2) div {
        padding-top: 1.7em;
        padding-bottom: 1.7em; } }
    @media (min-width: 1500px) {
      .container-fluid > .row:nth-child(2) div {
        padding-top: 2em;
        padding-bottom: 2em; } }
    .container-fluid > .row:nth-child(2) div h1, .container-fluid > .row:nth-child(2) div p {
      color: white; }
    .container-fluid > .row:nth-child(2) div h1 {
      padding-bottom: 0.8em; }
    .container-fluid > .row:nth-child(2) div p {
      line-height: 15px; }
      @media (min-width: 700px) {
        .container-fluid > .row:nth-child(2) div p {
          line-height: 19px; } }
      @media (min-width: 900px) {
        .container-fluid > .row:nth-child(2) div p {
          line-height: 23px; } }
      @media (min-width: 1100px) {
        .container-fluid > .row:nth-child(2) div p {
          line-height: 27px; } }
      @media (min-width: 1300px) {
        .container-fluid > .row:nth-child(2) div p {
          line-height: 31px; } }
      @media (min-width: 1500px) {
        .container-fluid > .row:nth-child(2) div p {
          line-height: 35px; } }

/* ===============================================================
                          Third row
===============================================================*/
.container-fluid > .row:nth-child(3) {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  text-align: justify; }
  .container-fluid > .row:nth-child(3) #random {
    padding: 15px;
    box-sizing: border-box; }
    .container-fluid > .row:nth-child(3) #random p {
      display: inline-block;
      margin: 5px; }
      .container-fluid > .row:nth-child(3) #random p:hover {
        cursor: pointer; }
  .container-fluid > .row:nth-child(3) .row:nth-child(1) h1 {
    color: black; }
  .container-fluid > .row:nth-child(3) .row:nth-child(1) h2 {
    color: #37829c;
    font-size: 1.3em; }
  .container-fluid > .row:nth-child(3) .row:nth-child(2) .table {
    margin: 1em 0px; }
    .container-fluid > .row:nth-child(3) .row:nth-child(2) .table .cell:first-child {
      vertical-align: bottom; }
  .container-fluid > .row:nth-child(3) .row:nth-child(2) img {
    width: 95%; }
  .container-fluid > .row:nth-child(3) .row:nth-child(2) p {
    line-height: 27px;
    color: grey;
    line-height: 12px; }
    @media (min-width: 700px) {
      .container-fluid > .row:nth-child(3) .row:nth-child(2) p {
        line-height: 15px; } }
    @media (min-width: 900px) {
      .container-fluid > .row:nth-child(3) .row:nth-child(2) p {
        line-height: 18px; } }
    @media (min-width: 1100px) {
      .container-fluid > .row:nth-child(3) .row:nth-child(2) p {
        line-height: 21px; } }
    @media (min-width: 1300px) {
      .container-fluid > .row:nth-child(3) .row:nth-child(2) p {
        line-height: 24px; } }
    @media (min-width: 1500px) {
      .container-fluid > .row:nth-child(3) .row:nth-child(2) p {
        line-height: 27px; } }

/* ===============================================================
                          Fourth row
===============================================================*/
.container-fluid > .row:nth-child(4) {
  background-color: black;
  padding-top: 1em;
  padding-bottom: 1em; }
  .container-fluid > .row:nth-child(4) h1, .container-fluid > .row:nth-child(4) p {
    color: white; }
  .container-fluid > .row:nth-child(4) h1 {
    margin-bottom: 1em; }
  .container-fluid > .row:nth-child(4) #gallery div {
    overflow: hidden;
    height: 30px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    margin-bottom: 1em; }
    @media (min-width: 600px) {
      .container-fluid > .row:nth-child(4) #gallery div {
        height: 60px; } }
    @media (min-width: 750px) {
      .container-fluid > .row:nth-child(4) #gallery div {
        height: 90px; } }
    @media (min-width: 900px) {
      .container-fluid > .row:nth-child(4) #gallery div {
        height: 120px; } }
    @media (min-width: 1050px) {
      .container-fluid > .row:nth-child(4) #gallery div {
        height: 150px; } }
    @media (min-width: 1200px) {
      .container-fluid > .row:nth-child(4) #gallery div {
        height: 180px; } }
    @media (min-width: 1350px) {
      .container-fluid > .row:nth-child(4) #gallery div {
        height: 210px; } }
    @media (min-width: 1500px) {
      .container-fluid > .row:nth-child(4) #gallery div {
        height: 240px; } }
    .container-fluid > .row:nth-child(4) #gallery div:nth-child(1) {
      background-image: url("images/layer18.png"); }
    .container-fluid > .row:nth-child(4) #gallery div:nth-child(2) {
      background-image: url("images/layer19.png"); }
    .container-fluid > .row:nth-child(4) #gallery div:nth-child(3) {
      background-image: url("images/layer20.png"); }
    .container-fluid > .row:nth-child(4) #gallery div:nth-child(4) {
      background-image: url("images/layer21.png"); }
    .container-fluid > .row:nth-child(4) #gallery div:nth-child(5) {
      background-image: url("images/layer22.png"); }
    .container-fluid > .row:nth-child(4) #gallery div:nth-child(6) {
      background-image: url("images/layer23.png"); }

/* ===============================================================
                          Fifth row
===============================================================*/
.container-fluid > .row:nth-child(5) {
  padding-top: 2em;
  padding-bottom: 2em; }
  .container-fluid > .row:nth-child(5) h1 {
    margin-bottom: 1em; }
  .container-fluid > .row:nth-child(5) p {
    color: grey; }

/* ===============================================================
                          Sixth row
===============================================================*/
.container-fluid > .row:nth-child(6) {
  height: 140px;
  background-image: url("images/bg6.png");
  background-size: cover;
  background-repeat: no-repeat; }
  @media (min-width: 600px) {
    .container-fluid > .row:nth-child(6) {
      height: 170px; } }
  @media (min-width: 750px) {
    .container-fluid > .row:nth-child(6) {
      height: 200px; } }
  @media (min-width: 900px) {
    .container-fluid > .row:nth-child(6) {
      height: 230px; } }
  @media (min-width: 1050px) {
    .container-fluid > .row:nth-child(6) {
      height: 260px; } }
  @media (min-width: 1200px) {
    .container-fluid > .row:nth-child(6) {
      height: 290px; } }
  @media (min-width: 1350px) {
    .container-fluid > .row:nth-child(6) {
      height: 320px; } }
  @media (min-width: 1500px) {
    .container-fluid > .row:nth-child(6) {
      height: 350px; } }

/* ===============================================================
                          Seventh row
===============================================================*/
.container-fluid > .row:nth-child(7) {
  padding-top: 2em;
  padding-bottom: 2em; }
  .container-fluid > .row:nth-child(7) div {
    float: left; }
    .container-fluid > .row:nth-child(7) div:nth-child(1) {
      width: 87%; }
      .container-fluid > .row:nth-child(7) div:nth-child(1) p {
        color: grey; }
    .container-fluid > .row:nth-child(7) div:nth-child(2) {
      width: 13%; }
      .container-fluid > .row:nth-child(7) div:nth-child(2) img {
        width: 60%;
        float: right;
        margin-top: 2em; }

/* ===============================================================
                          Eigth row
===============================================================*/
.container-fluid > .row:nth-child(8) {
  background-color: black; }
  .container-fluid > .row:nth-child(8) .table .cell:nth-child(1) {
    width: 45%;
    background-image: url("images/bg8.png");
    background-size: cover;
    background-position: center; }
  .container-fluid > .row:nth-child(8) .table .cell:nth-child(2) {
    width: 10%; }
  .container-fluid > .row:nth-child(8) .table .cell:nth-child(3) {
    width: 45%;
    text-align: justify;
    padding-top: 2em;
    padding-bottom: 2em; }
    .container-fluid > .row:nth-child(8) .table .cell:nth-child(3) h1, .container-fluid > .row:nth-child(8) .table .cell:nth-child(3) p, .container-fluid > .row:nth-child(8) .table .cell:nth-child(3) a {
      color: white; }
    .container-fluid > .row:nth-child(8) .table .cell:nth-child(3) h1 {
      margin-bottom: 1em;
      text-align: right; }
    .container-fluid > .row:nth-child(8) .table .cell:nth-child(3) p {
      margin-bottom: 1em; }
    .container-fluid > .row:nth-child(8) .table .cell:nth-child(3) .centerMe {
      text-align: right; }

/* ===============================================================
                          Ninth row
===============================================================*/
.container-fluid > footer {
  padding-top: 2em;
  padding-bottom: 2em; }
  .container-fluid > footer table {
    width: 100%;
    border-bottom: 1px solid grey; }
    .container-fluid > footer table h1 {
      padding: 0.5em;
      color: grey; }
      .container-fluid > footer table h1 span {
        opacity: 0.6; }
  .container-fluid > footer .centerMe {
    text-align: center;
    color: grey; }
    .container-fluid > footer .centerMe p {
      margin-top: 15px; }

/*# sourceMappingURL=app.css.map */
